allow system_app sensors_device:chr_file rw_file_perms;

# Allow ConfigPanel to work
allow system_app touchpanel_sysfs:dir search;
allow system_app touchpanel_sysfs:file rw_file_perms;
